body {
	background-color: #fff;
}
.header-wrp {
	height: 60px;
}
#header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 60px;
	background-color: #fff;
}
#header .main {
	width: 980px;
	min-width: 980px;
	height: 100%;
	margin: 0 auto;
}
#header .main .h_m_left {
	float: left;
}
#header .main .h_m_left img {
	margin: 6px 0;
}
#header .main .h_m_right {
	float: right;
}
#header .main .h_m_right ul {
	position: relative;
}
#header .main .h_m_right ul .navLi {
	float: left;
	font-size: 17px;
}
#header .main .h_m_right ul .navLi.tactics {
	width: 100px;
	height: 60px;
}
#header .main .h_m_right ul .navLi.know {
	width: 140px;
	height: 60px;
}
#header .main .h_m_right ul .navLi.data {
	width: 100px;
	height: 60px;
}
#header .main .h_m_right ul .navLi.aboutUs {
	width: 100px;
	height: 60px;
}
#header .main .h_m_right ul .navLi.mien {
	width: 100px;
	height: 60px;
}
#header .main .h_m_right ul .navLi.mainPage {
	width: 100px;
	height: 60px;
}
#header .main .h_m_right ul .navLi.freshLogin {
	width: 96px;
	height: 60px;
}
#header .main .h_m_right ul .navLi:hover a {
	color: #82cb83;
}
#header .main .h_m_right ul .navLi.tactics:hover {
	-webkit-animation-name: jello;
	animation-name: jello;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
#header .main .h_m_right ul .navLi.know:hover {
	-webkit-animation-name: rubberBand;
	animation-name: rubberBand;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
#header .main .h_m_right ul .navLi.data:hover {
	-webkit-animation-name: swing;
	animation-name: swing;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
#header .main .h_m_right ul .navLi.mainPage:hover {
	-webkit-animation-name: tada;
	animation-name: tada;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
#header .main .h_m_right ul .navLi.aboutUs:hover {
	-webkit-animation-name: pulse;
	animation-name: pulse;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}
#header .main .h_m_right ul .navLi.mien:hover {
	-webkit-animation-name: flash;
	animation-name: flash;
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}

.animated {
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}
#header .main .h_m_right ul .navLi a {
	display: block;
	width: 100%;
	height: 100%;
	color: #000;
	text-align: center;
	line-height: 60px;
	transition: .15s color;
}
 
#header .main .h_m_right ul .navLi.freshLogin {

}
#header .main .h_m_right ul .navLi.freshLogin a {
	color: #ffb208;
	font-size: 16px;
}
#header .main .h_m_right ul .navLi.currentPage a {
	color: #82cb83;
}
#header .main .h_m_right ul .slideBar {
	position: absolute;
	top: 50px;
	left: 31px;
	width: 38px;
	height: 3px;
	border-radius: 1px;
	background-color: #82cb83;
	transition: 0.5s left cubic-bezier(0, 0, 0.23, 1.31);
	transition-delay: .05s;
}
