body {
	min-width: 980px;
}
#main {
	position: relative;
	height: 3100px;
	margin: 0 auto;
	min-width: 980px;
	background: url('../img/main_bg.jpg') no-repeat center center;
	background-size: 100% 100%;
	background-position: top;
	overflow: hidden;
}
#main .leaves {
	z-index: 20;
	position: absolute;
	left: 500px;
	top: -34px;
	width: 41px;
	height: 34px;
	animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	animation-timing-function: linear;
	
}
#main .leaves.dur1 {
	animation-duration: 15s;
	-webkit-animation-duration: 15s;
}
#main .leaves.dur2 {
	animation-duration: 23s;
	-webkit-animation-duration: 23s;
}
#main .leaves.dur3 {
	animation-duration: 10s;
	-webkit-animation-duration: 10s;
}
#main .leaves.delay1 {
	animation-delay: 10s;
	-webkit-animation-delay:10s;
}
#main .leaves.delay2 {
	animation-delay: 7s;
	-webkit-animation-delay:7s;
}
#main .leaves.delay3 {
	animation-delay: 5s;
	-webkit-animation-delay:5s;
}
#main .move1 {
	animation-name: leaves1;
	-webkit-animation-name leaves1;
}
#main .move2 {
	animation-name: leaves2;
	-webkit-animation-name leaves2;
}
#main .move3 {
	-webkit-animation-name leaves3;
	animation-name: leaves3;
}
#main .move4 {
	animation-name: leaves4;
	-webkit-animation-name leaves4;
}
@keyframes leaves1 {
	0% {
		transform: translate(0px,0px);
	}
	15% {
		transform: translate(300px,150px);
	}
	30% {
		transform: translate(150px,300px) rotate(50deg);
	}
	50% {
		transform: translate(500px,500px);
	}
	75% {
		transform: translate(800px,750px) rotate(120deg);
	}
	100% {
		transform: translate(1000px,880px) rotate(160deg);
	}
}
@-webkit-keyframes leaves1 {
	0% {
		transform: translate(0px,0px);
	}
	15% {
		transform: translate(300px,150px);
	}
	30% {
		transform: translate(150px,300px) rotate(50deg);
	}
	50% {
		transform: translate(500px,500px);
	}
	75% {
		transform: translate(800px,750px) rotate(120deg);
		opacity: 0.8
	}
	100% {
		transform: translate(1000px,1000px) rotate(160deg);
		opacity: 0;
	}
}
@keyframes leaves2 {
	0% {
		transform: translate(0px,0px);
	}
	15% {
		transform: translate(300px,200px) rotate(45deg);
	}
	30% {
		transform: translate(150px,400px) rotate(90deg);
	}
	45% {
		transform: translate(300px,600px) rotate(120deg);
	}
	60% {
		transform: translate(150px,800px) rotate(150deg);
	}
	75% {
		transform: translate(300px,1000px) rotate(180deg);
		opacity: 0.8;
	}
	100% {
		transform: translate(200px,1200px) rotate(220deg);
		opacity: 0;
	}
}
@-webkit-keyframes leaves2 {
	0% {
		transform: translate(0px,0px);
	}
	15% {
		transform: translate(300px,200px) rotate(45deg);
	}
	30% {
		transform: translate(150px,400px) rotate(90deg);
	}
	45% {
		transform: translate(300px,600px) rotate(120deg);
	}
	60% {
		transform: translate(150px,700px) rotate(150deg);
	}
	75% {
		transform: translate(300px,800px) rotate(180deg);
		opacity: 0.8;
	}
	100% {
		transform: translate(200px,1000px) rotate(220deg);
		opacity: 0;
	}
}
@keyframes leaves3 {
	0% {
		transform: translate(0px,0px);
	}
	15% {
		transform: translate(100px,200px) rotate(45deg);
	}
	30% {
		transform: translate(150px,400px) rotate(90deg);
	}
	45% {
		transform: translate(100px,600px) rotate(120deg);
	}
	60% {
		transform: translate(150px,650px) rotate(150deg);
	}
	75% {
		transform: translate(100px,750px) rotate(180deg);
		opacity: 0.8;
	}
	100% {
		transform: translate(150px,820px) rotate(220deg);
		opacity: 0;
	}
}
@-webkit-keyframes leaves3 {
	0% {
		transform: translate(0px,0px);
	}
	15% {
		transform: translate(100px,200px) rotate(45deg);
	}
	30% {
		transform: translate(150px,250px) rotate(90deg);
	}
	45% {
		transform: translate(100px,350px) rotate(120deg);
	}
	60% {
		transform: translate(150px,400px) rotate(150deg);
	}
	75% {
		transform: translate(100px,600px) rotate(180deg);
		opacity: 0.8;
	}
	100% {
		transform: translate(150px,800px) rotate(220deg);
		opacity: 0;
	}
}
@keyframes leaves4 {
	0% {
		transform: translate(0px,0px);
	}
	15% {
		transform: translate(80px,150px) rotate(45deg);
	}
	30% {
		transform: translate(160px,300px) rotate(90deg);
	}
	45% {
		transform: translate(120px,450px) rotate(120deg);
	}
	60% {
		transform: translate(150px,600px) rotate(150deg);
	}
	75% {
		transform: translate(120px,750px) rotate(180deg);
		opacity: 0.8;
	}
	100% {
		transform: translate(175px,1000px) rotate(220deg);
		opacity: 0;
	}
}
@-webkit-keyframes leaves4 {
	0% {
		transform: translate(0px,0px);
	}
	15% {
		transform: translate(80px,150px) rotate(45deg);
	}
	30% {
		transform: translate(160px,300px) rotate(90deg);
	}
	45% {
		transform: translate(120px,450px) rotate(120deg);
	}
	60% {
		transform: translate(150px,600px) rotate(150deg);
	}
	75% {
		transform: translate(120px,750px) rotate(180deg);
		opacity: 0.8;
	}
	100% {
		transform: translate(175px,1000px) rotate(220deg);
		opacity: 0;
	}
}

#main #banner-wrp {
	margin-top: 50px;
}
#main #banner-wrp {
}
#main #banner-wrp .banner {
	width: 1010px;
	height: 745px;
	margin: 0 auto;
	animation: shakeY 10s linear;
	animation-iteration-count: infinite;
}
#banner-wrp .banner .isLand-con {
	position: relative;
}
#banner-wrp .banner .isLand-con #islandImg {
	position: absolute;
	z-index: 4;
	width: 1010px;
	height: 745px;
}
#banner-wrp .banner .isLand-con #countDown {
	z-index: 15;
	position: absolute;
	left: 211px;
	top: 365px;
}
#banner-wrp .banner .isLand-con #title {
	z-index: 10;
	position: absolute;
	top: 0;
	right: 239px;
	width: 252px;
	height: 135px;
	animation: littleshake 5s linear;
	animation-iteration-count:infinite;
}
@keyframes littleshake {
0% {
	transform: rotate(0deg);
}
2%{
	transform: rotate(10deg); 
}
4%{
	transform: rotate(0deg);
}
6%{
	transform: rotate(10deg);
}
8%{
	transform: rotate(0deg);
}
}

#gotocqupt {
	z-index: 5;
	position: absolute;
	top: 26px;
	left: 243px;
	width: 535px;
	height: 355px;
}
#leaves {
	z-index: 10;
	position: absolute;
	top: 31px;
	left: 230px;
	width: 580px;
	height: 350px;

}
#timeBar {
	z-index: 15;
	position: absolute;
	top: 378px;
	left: 422px;
	width: 355px;
	height: 44px;
}
#timeBar .tb {
	position: relative;
	top: 2px;
	float: left;
	width: 44px;
	height: 37px;
	padding: 0 3px ;
	overflow: hidden;
}
#timeBar .tb.d {
	margin-right: 49px;
}
#timeBar .tb.h {
	margin-right: 57px;
}
#timeBar .tb.m {
	margin-right: 49px;
}
#timeBar .tb .n1 {
	position: absolute;
	left: 5px;
	top: 7px;
}
#timeBar .tb .n2 {
	position: absolute;
	left: 26px;
	top: 7px;
}

#main .fixedBox {
	z-index: 50;
	position: fixed;
	top:20%;
	width: 180px;
	height: 330px;
	-webkit-animation-name: shakeY;
	animation-name: shakeY;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
}
#main .fixedBox:hover {
	-webkit-animation-name: no;
	animation-name: no;
}
#main .fixedBox#leftBox {
	left: 5%
}
#main .fixedBox#rightBox {
	right: 5%;
}
#main .fixedBox .relative {
	position: relative;
}
#main .fixedBox .plane {
	position: absolute;
	transform-style: preserve-3d;
}
#main .fixedBox .plane .body {
	position: absolute;
}
#main .fixedBox .plane .propeller {
	position: absolute;
	transform: rotate(-4deg);
	-webkit-animation-name: propellerRotateY;
	animation-name: propellerRotateY;
	-webkit-animation-duration: 5s;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
	animation-timing-function: linear;
}
@keyframes propellerRotateY {
	0% {transform: rotateY(0deg);}
	50% {transform: rotateY(60deg);}
	100% {transform: rotateY(0deg);}
}
@keyframes shakeY {
	0% {transform: translate(0px,-15px);}
	50% {transform: translate(0px,15px);}
	100% {transform: translate(0px,-15px);}
}
#main .fixedBox#rightBox .plane {
	top: 10px;
	left: 30px;
	width: 133px;
	height: 120px;
}
#main .fixedBox#rightBox .plane .propeller {
	top: 4px;
	left: -4px;
	width: 102px;
	height: 38px;
	background: url('../img/propellerRight.png') no-repeat center center;
}
#main .fixedBox#rightBox .plane .body {
	top: 42px;
	width: 142px;
	height: 82px;
	background: url('../img/planeBodyRight.png') no-repeat center center;
}
#main .fixedBox#rightBox .code {
	position: absolute;
	top: 120px;
	width: 175px;
	height: 231px;
	/*margin-left: -20px;*/
	background: url('../img/QRcodeRight.png') no-repeat center center ;
}

#main .fixedBox#leftBox .plane {
	top: 10px;
	left: 30px;
	width: 133px;
	height: 120px;
}
#main .fixedBox#leftBox .plane .propeller {
	top: 4px;
	left: -7px;
	width: 102px;
	height: 38px;
	background: url('../img/propellerLeft.png') no-repeat center center;
}
#main .fixedBox#leftBox .plane .body {
	top: 42px;
	left: -36px;
	width: 142px;
	height: 82px;
	background: url('../img/planeBodyLeft.png') no-repeat center center;
}
#main .fixedBox#leftBox .code {
	position: absolute;
	left: -8px;
	top: 120px;
	width: 175px;
	height: 231px;
	background: url('../img/QRcodeLeft.png') no-repeat center center ;
}
#map-wrp {
	position: relative;
	margin-top: -20px;
}

#map-con {
	position: relative;
	width: 1020px;
	height: 550px;
	margin: 0 auto;
	-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
}
#map-con .flag {
	position: absolute;
	bottom: 528px;
	left: 406px;
	width: 235px;
	height: 150px;
	background: url('../img/mapFlag.png') no-repeat center center;
}
#map-con .mapFrame {
	z-index: 10;
	position: absolute;
	width: 100%;
	height: 100%;
	background: url('../img/paperFrames.png') no-repeat center center;
	cursor: default;
}
#map-con .map-con {
	z-index: 8;
    position: absolute;
    top: 18px;
    left: 18px;
    width: 980px;
    height: 499px;
    overflow: hidden;
    background-color: #7ce2cd;
    -webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
}
#map-con .map-con .img {
	position: relative;
	left: 0px;
	top: 0px;
	width: 980px;
	height: 499px;
	-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
}
#map-con .map-con .img img {
	width: 100%;
	height: 100%;
	-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
}
#map-con .map-con.con2 {
	z-index: 15;
	background-color: transparent;
	-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
}
#mapScreen {
	position: relative;
	width: 100%;
	height: 100%;
	cursor: default;
	overflow: hidden;
	-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
}
#positionArrowCon {
	position: relative;
	left: 0px;
	top: 0px;
	-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
}
#mapScreen .positionArrow {
	position: absolute;
	width: 47px;
	height: 58px;
	background: url('../img/positionArrow.png') no-repeat center center;
	cursor: pointer;
	-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
}
#oldGate {
	left: 344px;
	top: 320px;
}
#taiji {
	left: 383px;
	top: 156px;
}
#oldGround {
	left: 376px;
	top: 256px;
}
#xinke {
	left: 516px;
	top: 346px;
}
#yifu {
	left: 158px;
	top: 258px;
}
#newGate {
	left: 186px;
	top: 336px;
}
#redHouse {
	left: 506px;
	top: 266px;
}
#build4 {
	left: 126px;
	top: 208px;
}
#lover {
	left: 569px;
	top: 292px;
}
#oldLibery {
	left: 476px;
	top: 288px;
}
#libery {
	left: 248px;
	top: 308px;
}
#wan80 {
	left: 416px;
	top: 338px;
}
#build2 {
	left: 388px;
	top: 296px;
}
#chqs {
	left: 426px;
	top: 306px;
}
#bascGround {
	left: 398px;
	top: 213px;
}
#fyGround {
	left: 286px;
	top: 196px;
}
#build3 {
	left: 203px;
	top: 208px;
}
#build8 {
	left: 222px;
	top: 116px;
}
#positionDesc {
	position: absolute;
	left: 164px;
	top: 390px;
	width: 95px;
	height: 40px;
	background: url('../img/positionDescBg.png') no-repeat center center;
	text-align: center;
	line-height: 40px;
	font-size: 16px;
	color: #000;
	-webkit-user-select: none;  
    -moz-user-select: none;    
    -ms-user-select: none; 
}
#mapScreen .signBox {
	position: absolute;
	bottom: 29px;
	right: 29px;
	width: 36px;
	height: 100px;
}
#mapScreen .signBox .sign {
	width: 36px;
	height: 39px;
	cursor: pointer;
	background-repeat: no-repeat;
	background-position: center;
}
#mapScreen .signBox .sign#plus {
	background: url('../img/plusSign.png');
	margin-bottom: 10px;
}
#mapScreen .signBox .sign#minus {
	background: url('../img/minusSign.png');
}

#mapScreen #description {
	display: none;
	position: relative;
	width: 466px;
	height: 307px;
	margin: 56px auto;
	padding: 28px;
	background-color: #fff;
	border-radius: 4px;
}
#description .close {
	position: absolute;
	right: -22px;
	top: -22px;
	width: 45px;
	height: 45px;
	background: url('../img/close.png') no-repeat center center;
	transition: .3s all ease;
	cursor: pointer;
}
#description .close:hover {
	transform: rotate(90deg);
}
#description .lunbo {
	position: relative;
	width: 100%;
	height: 188px;
	overflow: hidden;
}
#description .lunbo .arrow {
	z-index: 1;
	position: absolute;
	top: 63px;
	width: 46px;
	height: 61px;
	cursor: pointer;
}
#description .lunbo .arrow.next {
	background: url('../img/nextArrow.png') no-repeat center center;
	right: 0;
}
#description .lunbo .arrow.prev {
	display: none;
	background: url('../img/prevArrow.png') no-repeat center center;
	left: 0;
}
#description .lunbo #lunbo-con {
	position: relative;
	left: 0;
	width: 200%;
	height: 100%;
}
#lunbo-con li {
	float: left;
	width: 466px;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100%
}
#lunbo-con li:nth-child(1) {
	background: black;
}
#lunbo-con li:nth-child(2) {
	background-color: red;
}
#description .desc {
	display: block;
	width: 100%;
	height: 82px;
	margin-top: 10px;
}	
#seneryTitle {
	text-align: center;
	font-size: 18px;
}
#seneryDesc {
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
}
#main #map-wrp .container .map-con {
	z-index: 8;
	position: relative;
	top: 18px;
	left: 18px;
	width: 980px;
	height: 499px;
	overflow: hidden;
	background-color: #4dccc5;
}
#main #map-wrp .container .map-con .con2 {
	position: relative;
}
#main #map-wrp .container .map-con .con2 #map {
	position: relative;
	left: -26px;
	top: -75px;
	width: 1037px;
	height: 693px;
}
#main #map-wrp .container .map-con .con2 .positionBox {
	position: absolute;
	width: 100px;
	height: 100px;

}
#main #map-wrp .container .map-con .con2 .positionBox .positionArrow {
	position: relative;
	left: 25px;
	top: 10px;
}

#main #map-wrp .container .map-con .con2 .positionBox#bla {
	left: 257px;
	top: 82px;
}
#main #map-wrp .container .map-con .con2 .positionBox p {
	display: block;
	width: 98px;
	height: 40px;
	background: url('../img/positionDescBg.png') no-repeat center center;
	font-size: 16px;
	color: #000;
	text-align: center;
	line-height: 40px;
}
#main #content-wrp {
	margin-top: 130px;
}
#main #content-wrp #content {
	position: relative;
	width: 1025px;
	height: 625px;
	margin: 0 auto;
	background:url('../img/content.png') no-repeat center center;
}

#main #content .section {
	position: relative;
	float: left;
	width: 320px;
	height: 460px;
	padding-top: 117px;
}
#main #content .section:hover .icon {
	-webkit-animation-name: iconRotate;
	animation-name: iconRotate;

}
@keyframes iconRotate {
	0% {transform: rotate(0deg)}
	30%{transform: rotate(30deg)}
	60%{transform: rotate(-15deg)}
	80%{transform: rotate(10deg)}
	100%{transform: rotate(0deg)}
}
#main #content .section .icon {
	position: absolute;
	left: 80px;
	top: 142px;
	width: 160px;
	height: 160px;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	animation-timing-function: linear;
}
#main #content .section .icon1 {
	background: url('../img/iconGuidence.png') no-repeat center center;
}
#main #content .section .icon2 {
	background: url('../img/iconLoudSpeaker.png') no-repeat center center;
}
#main #content .section .icon3 {
	background: url('../img/iconCamera.png') no-repeat center center;
}
#main #content .section.c_section1 {
	margin-left: 19px;
	margin-right: 9px;
}
#main #content .section.c_section2 {
	margin-right: 20px;
}
#main #content .section.c_section3 {
	margin-right: 0;
}
#main #content .section .desc {
	display: block;
	margin: 230px auto 0;
	width: 240px;
	height: 125px;
	color: #666;
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
}
.moreBtn {
	position: relative;
	width: 181px;
	height: 58px;
	margin: 25px auto 0;
}
.moreBtn a {
	z-index: 10;
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	overflow: hidden;
	text-align: center;
	color: #fff;
	font-size: 18px;
	line-height: 58px;
	background: url('../img/button.png') no-repeat center center;
}

.moreBtn .shadow {
	z-index: 5;
	position: absolute;
	left: -74px;
	top: 2px;
	width: 327px;
	height: 107px;
	background: url('../img/btnShadow.png') no-repeat center center;
}
#main #description-wrp {
	margin-top: 220px;
}
#main #description-wrp #description {
	position: relative;
	width: 1020px;
	height: 725px;
	margin: 0 auto;
}
#main #description-wrp #description .forum {
	position: relative;
	width: 100%;
	height: 255px;
}
#main #description-wrp .forum .flag {
	z-index: 4;
	position: absolute;
	left: 418px;
	bottom: 250px;
	width: 255px;
	height: 94px;
	background: url('../img/know.png') no-repeat center center;
}
#main #description-wrp .forum .content {
	z-index: 5;
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../img/back.png') no-repeat center center;
}

#main #description-wrp .forum .content .l img {
	margin: 12px 16px 0;
	width: 384px;
	height: 221px;
}
#main #description-wrp .forum .content .r {
	float: right;
	width: 570px;
	height: 200px;
}
#main #description-wrp .forum .content .r .desc {
	display: block;
	width: 500px;
	height: 80px;
	margin: 50px 0 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #666;
}
#main #description-wrp .forum .r .moreBtn {
	position: relative;
	left: 108px;
	margin-top: 0;
}
#main #description-wrp .redrock {
	margin-top: 218px;
	width: 100%;
	height: 255px;
}
#main #description-wrp .redrock .content {
	z-index: 5;
	position: relative;
	width: 100%;
	height: 100%;
	background: url('../img/back.png') no-repeat center center;
}
#main #description-wrp .redrock .content .redrockIcon {
	position: relative;
	left: 26px;
	top: 76px;
}
#main #description-wrp .redrock .flag {
	z-index: 4;
	position: absolute;
	left: 418px;
	bottom: 250px;
	width: 218px;
	height: 94px;
	background: url('../img/aboutUs.png') no-repeat center center;
}
#main #description-wrp .redrock .r {
	float: right;
	width: 570px;
	height: 200px;
}
#main #description-wrp .redrock .r .desc {
	display: block;
	width: 500px;
	height: 80px;
	margin: 50px 0 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: 14px;
	color: #666;
}
#main #description-wrp .redrock .r .moreBtn {
	position: relative;
	margin-top: 0;
	left: 108px;
}

#goTop {
	z-index: 100;
	position: fixed;
	right: 40px;
	bottom: 60px;
	width: 112px;
	height: 108px;
	background: url('../img/returnTop.png') no-repeat center center;
	cursor: pointer;
	display: none;
	opacity: 0;
	transition: 0.2s all linear;
}


