a {
    text-decoration: none;
    color: inherit;
}
#main {
    height: 1743px;
    background-size: 100%;
    background-position: center -88px;
}
.answer-box {
    position: absolute;
    display: none;
    z-index: 9999;

    height: 1983px;
    width: 100%;

    background-color: rgba(0, 0, 0, .5);
}

.answer {
    position: absolute;
    top: 971px;
    left: 50%;

    height: 448px;
    width: 660px;
    margin-left: -330px;
    border-radius: 10px;

    background-color: #fffef1;
}
.answer-close {
    position: absolute;
    top: -20px;
    right: -20px;

    height: 43px;
    width: 43px;
    border-radius: 100%;

    cursor: pointer;
}
.answer-close img {
    height: 43px;
    width: 43px;
}
.answer-title {
    border-bottom: 1px solid #f9e8e0;

    font-size: 18px;
    font-weight: normal;
    text-align: center;
    line-height: 68px;

    color: #666;
}
.answer-asker {
    position: absolute;
    top: 31px;
    right: 27px;

    line-height: 1;
    font-size: 14px;

    color: #af8a6f;
}
.answer-scroll {

    
}
.answer-main {
    height: 371px;
    width: 660px;
    overflow-y: scroll;
}
.answer-main img {
    display: inline-block;
    height: 90px;
    width: 90px;
    margin-left: 5px;
}
.answer-item {
    position: relative;
    padding-top: 19px;
    padding-left: 27px;
    padding-bottom: 20px;
    border-bottom: 1px solid #f9e8e0;

    font-size: 14px;
    line-height: 1;

    color: #666;
}
.answer-user {
    float: left;

    color: #f89316;
}
.answer-time {
    position: absolute;
    top: 19px;
    right: 14px;
    font-size: 12px;
    color: #999;
}
.xz-box {
    position: absolute;
    display: none;
    z-index: 9999;

    height: 1983px;
    width: 100%;

    background-color: rgba(0, 0, 0, .5);
}
.xz-close {
    position: absolute;
    z-index: 100;
    top: -20px;
    right: -20px;

    height: 43px;
    width: 43px;

    border-radius: 100%;
    cursor: pointer;
}
.xz-wrap {
    position: absolute;
    z-index: 90;
    top: 971px;
    left: 50%;

    height: 435px;
    width: 402px;
    margin-left: -201px;
    border-radius: 10px;
}
.xz-info {
    position: absolute;

    height: 435px;
    width: 402px;
    border-radius: 10px;
    
    background-color: #fffef1;
}
.xz-info-avatar {
    height: 239px;
    width: 350px;
    margin: 26px auto 21px;
}
.xz-info-avatar img {
    height: 239px;
    width: 350px;
}
.xz-name {
    margin-bottom: 18px;

    font-size: 18px;
    line-height: 1;
    text-align: center;

    color: #333;
}
.xz-intr {
    height: 110px;
    padding-left: 23px;
    padding-right: 23px;

    font-size: 14px;
    line-height: 20px;
    
    color: #666;
    overflow-y: auto;
}
.to-top-btn {
    opacity: 0;
    position: fixed;
    right: 30px;
    bottom: 125px;
    
    height: 108px;
    width: 112px;
    cursor: pointer;

    transition: opacity .8s;
}
.content-wrap {
    position: relative;
    
    height: 890px;
    width: 960px;
    padding: 0px 21px 0px 21px;
    margin: -71px auto 0px;
    border-radius: 5px;

    background-color: #fffadd;
    box-shadow: -1px -2px 2px #f2e19e inset;
}

.content-title {
    position: absolute;
    z-index: 4;
    top: -91px;
    left: 391px;
}
.content-main {
    position: relative;
    z-index: 6;
    height: 798px;
    width: 100%;
    padding-top: 44px;
    overflow: hidden;
    background-color: #fffadd;
}
.content-nav {
    height: 64px;
    width: 914px;
    margin: 0 auto;
    position: relative;
    top: 7px;
    text-align: center;
    overflow: hidden
}
.content-nav-item {
    float: left;
    
    height: 50px;
    width: 208px;
    margin-top: 14px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    
    font-size: 20px;
    line-height: 47px;
    text-align: center;
    list-style: none;
    
    color: #ffc91f;
    background: linear-gradient(to bottom, #fff0c0, #ffe290);
    background-image: url(../img/gonglue/btnbg.png);
    background-repeat: repeat;
    cursor: pointer;
}
.content-nav-item:nth-child(2) {
    margin-left: 22px;
    margin-right: 22px;
}
.content-nav-item:nth-child(3) {
    margin-right: 22px;
}
.content-nav-active {
    height: 60px;
    width: 216px;
    margin-top: 3px;
    margin-left: 0px;
    margin-right: 2px;

    line-height: 57px;

    background-image: url(../img/gonglue/zbnav.png);
    background-size: 100% 115px;
    background-repeat: no-repeat;
}
.ques-wrap {
    position: relative;
    z-index: 7;

    height: 331px;
    width: 914px;
    margin: 0 auto;
    border: 1px solid #fff5c4;
    border-top: 2px solid #ffdc50;
    border-radius: 10px;

    background-color: #fff;
    overflow: hidden;
}
.ques {
    position: absolute;

    width: 3656px;

    transition: left 1.5s;
}
.ques:after {
    content: "";
    display: table;
    clear: both;
}
.ques-item {
    float: left;
    height: 331px;
    width: 914px;

    overflow-y: auto;
}
.ques-header {
    padding-left: 20px;
    padding-right: 37px;
    border-bottom: 1px solid #fff5c4;

    font-size: 16px;
    line-height: 45px;
}
.ques-header p {
    color: #feab0e;
}
.ques-title {
    float: left;

    cursor: pointer;
}
.ques-time {
    float: right;

    color: #f1d1ad;
}
.ques-author {
    margin-left: 653px;

    text-align: left;
}
.ques-content {
    position: relative;

    padding-left: 26px;
    padding-right: 25px;
    border-bottom: 1px dashed #f1f0ec;

    font-size: 14px;
    line-height: 40px;

    color: #c99c68;
}
.ques-content .ques-author {
    margin-left: 647px;
}
.content-people {
    padding-left: 22px;
    padding-right: 22px;
    margin-top: 35px;
    margin-bottom: 32px;
}
.content-people:after {
    content: "";
    display: table;
    clear: both;
}
.people-item {
    float: left;

    height: 221px;
    width: 160px;
    border: 1px solid #fff8d3;
    border-radius: 5px;

    text-align: center;

    cursor: pointer;
    background-color: #fff;
}
.people-item:nth-child(5) {
    margin-right: 0px;
}
.people-fir {
    margin-right: 26px;
}
.people-avatar {
    height: 160px;
    width: 100%;
}
.people-avatar img {
    height: 160px;
    width: 100%;
}
.pelple-name {
    margin-top: 14px;
    margin-bottom: 8px;

    line-height: 1;
    font-size: 14px;

    color: #feab0e;
}
.people-academy {
    line-height: 1;
    font-size: 12px;

    color: #c99c68;
}
.learn-more {
    height: 70px;
    width: 914px;
    margin: 0 auto;
    border: 1px solid #fff5c4;
    border-radius: 10px;

    background-color: #fff;
}
.learn-more p {
    margin-top: 21px;

    font-size: 16px;
    line-height: 1;
    text-align: center;

    color: #feab0e;
}
.learn-more i {
    position: relative;
    display: inline-block;
    top: 3px;
    right: 11px;

    height: 20px;
    width: 24px;
    background-image: url(../img/gonglue/attentionIcon.png);
}
#fixWrp {
    position: relative;
    width: 980px;
    height: 0px;
    margin: 22px auto 0;
}
#fixWrp #goTop {
    z-index: 100;
    position: absolute;
    top: -36px;
    right: -178px;
    width: 112px;
    height: 108px;
    background: url('../img/returnTop.png') no-repeat center center;
    cursor: pointer;
}




.answer-main::-webkit-scrollbar {
    width: 12px;
}
.answer-main::-webkit-scrollbar-track {
    // height: 376px;
    background-color: #ffee89;
}

.answer-main::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #fff9d3; 
}
.answer-main::-webkit-scrollbar-button {
    display: none;
}
.answer-main::-webkit-scrollbar-border {
    background-color: #000;
}

.ques-item::-webkit-scrollbar {
    width: 12px;
}
.ques-item::-webkit-scrollbar-track {
    // height: 376px;
    background-color: #ffee89;
}

.ques-item::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #fff9d3; 
}
.ques-item::-webkit-scrollbar-button {
    display: none;
}
.ques-item::-webkit-scrollbar-border {
    background-color: #000;
}


.xz-intr::-webkit-scrollbar {
    width: 12px;
}
.xz-intr::-webkit-scrollbar-track {
    // height: 376px;
    background-color: #ffee89;
}

.xz-intr::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #fff9d3; 
}
.xz-intr::-webkit-scrollbar-button {
    display: none;
}
.xz-intr::-webkit-scrollbar-border {
    background-color: #000;
}