a {
    text-decoration: none;
    color: inherit;
}
#main {
    height: 1743px;
    background-size: 100%;
    background-position: center -88px;
}
.xl-content-wrap {
    position: relative;
    height: 891px;
    width: 1002px;
    margin: -71px auto 0px;
    border-radius: 5px;

    background-color: #fffadd;
    box-shadow: -1px -2px 2px #f2e19e inset;
}
.xl-content-title {
    position: absolute;
    z-index: 4;
    top: -91px;
    left: 391px;
}
.xl-content {
    position: relative;
    z-index: 6;
    height: 891px;
    width: 1002px;
    overflow: hidden;
    background-color: #fffadd;
}
.content-btn {
    width: 385px;
    height: 55px;
    margin: 40px auto 40px;
    border-radius: 100px;

    font-size: 24px;

    cursor: pointer;
    overflow: hidden;
    box-shadow: 1px 2px 3px #fbe5aa;
}
.content-btn-item {
    float: left;
    height: 100%;
    width: 189px;

    text-align: center;
    line-height: 55px;
    
    color: #ec8c20;
    background-image: url(../img/gonglue/rbtn.png);
    background-size: 100% 100%;
    background-repeat: repeat;
    box-shadow: 0px -3px #fcd320 inset;
}
.right-btn {
    width: 195px;
}
.btn-active {
    border-right: 1px solid #ffd933;

    color: #fff;
    background-image: url(../img/gonglue/lbtn.png);
    background-size: 100% 100%;
    background-repeat: repeat;
    box-shadow: 0px -3px #62d0ce inset;
}
.content-main-con {
    position: relative;
    height: 734px;
    width: 961px;
    margin-left: 15px;

    border: 1px solid #fff5c4;
    border-top: 2px solid #ffe05a;
    border-radius: 10px;

    background-color: #fff;
    overflow: hidden;
}
.content-main {
    position: absolute;
    top: 0px;

    height: 734px;
    width: 1922px;

    transition: left 1.5s;
}
.content-main-item {
    float: left;

    height: 734px;
    width: 961px;

    background-color: #fff;
}
.smile-img {
    position: relative;
    height: 287px;
    width: 523px;
    margin: 36px auto 40px;
}
.smile-img img {
    height: 100%;
    width: 100%;
}
.smile-cover {
    position: absolute;
    left: 0px;
    bottom: 0px;
    
    height: 37px;
    width: 523px;
    
    font-size: 14px;
    text-align: center;
    line-height: 37px;

    color: #fff1b0;
    background-color: rgba(55, 54, 53, .5);
}
.smile-content {
    border-top: 1px dashed #e1dfd4;
}
.smile-content-item:after {
    content: "";
    display: table;
    clear: both;
}
.smile-content-item {
    height: 40px;
    padding-left: 49px;
    border-bottom: 1px dashed #e1dfd4;
}
.smile-content p {
    line-height: 40px;
}
.smile-content-title {
    float: left;

    font-size: 16px;
    letter-spacing: 13px;

    color: #feab0e;
}
.smile-content-title:after {
    content: "：";
    display: inline-block;
    margin-left: -28px;
}
.smile-content-para {
    margin-left: 137px;

    font-size: 14px;
    letter-spacing: 1px;

    color: #ddb383;
}
.pinpinkan-way {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    
    color: #ddb383;
}