#footer {
    height: 180px;
    background-color: #fffde7;
    overflow: hidden;
}
#footer .content {
    margin: 60px auto 0;
    min-width: 980px;
}
#footer .content p {
    margin: 0 auto;
    text-align: center;
    color: #eda62b;
    font-size: 14px;
    letter-spacing: 1px;
}
#footer .content p a {
    letter-spacing: 1px;
    padding: 0 2px;
    color: #eda62b;
    font-size: 14px;
}
